attrs==22.1.0
    # via pytest
colorama==0.4.6 ; platform_system == "Windows"
    # via
    #   -r requirements/requirements-test.in
    #   pytest
exceptiongroup==1.0.4
    # via pytest
execnet==1.9.0
    # via pytest-xdist
iniconfig==1.1.1
    # via pytest
packaging==22.0
    # via pytest
pluggy==1.0.0
    # via pytest
pytest==7.2.0
    # via
    #   -r requirements/requirements-test.in
    #   pytest-mock
    #   pytest-xdist
pytest-mock==3.10.0
    # via -r requirements/requirements-test.in
pytest-xdist==3.0.2
    # via -r requirements/requirements-test.in
tomli==2.0.1
    # via pytest
